





.divCadastro{


    display: flex;
    margin-top: 200px;
    align-items: center;  
    justify-content: center
  
    
}





.boxComponent{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    width: 500px;
    height: 600px;
    border-radius: 6px;
    box-shadow: 8px 5px;
}





.boxComponent p{

    font-size: 16px;
    font-weight: bold;

}

.boxComponent input{

    height: 25px;
    
}


.btnCadastrar{

    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 50px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;

}


.btnCadastrar:hover{

    color:  #10AA50;
    border-color: #10AA50;



}



.errorStyle{

    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    max-width: 200px;
    position: absolute;
    color: red;


}


.sucStyle{

    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    max-width: 200px;
    position: absolute;
    color:green;



}